# ignore any pycache files/folders etc
__pycache__/
*.pyc
*.pyo
*.pyd
plots/

# ignore anything related to jupyter notebook
.ipynb_checkpoints
*.ipynb
*.ipynb_checkpoints
# ignore any virtual environment folders
venv/


#ignore any data folders
data/
/data/
